/* From Uiverse.io by AspenBranch */ 
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(45deg, #92c9b1, #92c9b1 20px, #b3e0d2 20px, #b3e0d2 40px);
  }