
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    width: 25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(322, 100%, 50%);
    stroke-width: 35px;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: inherit;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   